.products {
  background: #e6e6e6;
  padding: 1rem;
  &__container {
    margin: 0 auto;
    max-width: 1200px;
  }
  &__list {
    all: unset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  &__item {
    all: unset;
    background-color: #fff;
    border-radius: 3px;
    padding: 1rem;
    box-sizing: border-box;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__load-more {
    margin: 1rem auto;
    text-align: center;
  }
  &__link {
    all: unset;
    background-color: rgb(0, 80, 56);
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(42, 116, 93);
    }

    &:focus-visible {
      background-color: rgb(42, 116, 93);
      outline: 2px solid rgb(42, 116, 93);
      outline-offset: 3px;
    }
  }
  &__button {
    all: unset;
    padding: 1rem;
    background-color: #1d1d1d;
    color: #f1f1f1;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
    &:focus-visible {
      background-color: #333;
      outline: 2px solid #1d1d1d;
      outline-offset: 3px;
    }
  }
}
